
body {
    background-color: #ebdada; /* Soft Pink */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../ist263/project/media/img_1.jpeg);
    background-repeat: repeat-y;
    background-size: 35%;
}

/* Headings */
h1, h2 {
    background-color: #a2798f; /* Soft Mauve */
    color: #dfdfde; /* Off White */
    padding: 10px;
}

/* Links */
a:visited {
    color: #8caba8; /* Muted Teal */
}

a:hover {
    background-color: #d7c6cf; /* Light Rose */
}

/* Box Styling */
.box {
    background-color: #a2798f; /* Soft Mauve */
    border-width: 5px;
    border-style: solid;
    border-color: antiquewhite;
    padding: 30px;
}

/* Background Image Styling */
.bgimage {
    background-image: url(../ist263/images/linkedin.svg);
    background-size: 10%;
}

/* Navigation Link Hover Effect */
nav a:hover {
    background-color: #d7c6cf; /* Soft Mauve (Your Highlight Color) */
}

/* Navigation Styling */
nav {
    padding: 10px; /* Adds padding inside the nav */
    margin-bottom: 30px; /* Adds space below the nav */
}

